{% extends 'layout.html' %}
{% block head %}
  <title>SignIn</title>
{% endblock%}

{% block body %}
  <div class="container">
    <form class="" action= {{ url_for('signin') }} method="post">
      <div class="centered" style="display:flex; flex-wrap:wrap;">
        <div class="centered">
          <input type="text" name="first_name" placeholder="First name">
        </div>
        <div class="centered">
          <input type="text" name="second_name" placeholder="Second name">
        </div>
      </div>
        <input class="centered" type="text" name="user_name" placeholder="User name">
      <div class="centered">
        <div class="centered">
          <input type="password" name="password" placeholder="Enter your password">
        </div>
        <div class="centered">
          <input type="password" name="password" placeholder="Repat your password">
        </div>
      </div>
      <input type="submit" class="button centered">
    </form>
  </div>
{% endblock %}
